header {
    background-color: aliceblue;
        height: 150px;    
}
main {
    background-color: rgb(204, 204, 243);
    height: 400px;
}
footer {
    background-color: rgb(218, 175, 175);
 
    height: 150px;
}